<!-- Created By CodingNepal - www.codingnepalweb.com  -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Awesome Quiz App | CodingNepal</title>
    <link rel="stylesheet" href="style.css">
    <!-- FontAweome CDN Link for Icons-->
     <link rel="stylesheet" href="assets/css/bootstrap.min.css">
     <link rel="stylesheet" href="assets/css/navbar.css">
    <link rel="stylesheet" href="assets/css/game.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
     <style type="text/css">
           @font-face {
                font-family: "notulen";
                src: url('assets/font/notulen.otf');
            }
             @font-face {
                font-family: "satoshi-r";
                src: url('assets/font/Satoshi-Regular.otf');
            }
            @font-face {
                font-family: "satoshi-bi";
                src: url('assets/font/Satoshi-BoldItalic.otf');
            }
          
        </style>
</head>
<body>
    
    <div class="navbar">
          <div class="container">
            <ul>
                <li class="logo"><a href="index.html"><img src="assets/img/pendekar-logo.png"></a></li>
                 <li><a href="histori.html">Histori</a></li>
                <li><a href="berita.html">News</a></li>
                <li><a href="event.html">Event</a></li>
                <li><a href="gallery.html">Gallery</a></li>
                <li><a href="shop.html">Shop</a></li>
                <li><a href="quizz.html">Games</a></li>
            </ul>
              </div>
        </div>
    
    <section class="header-histori">
        <div class="container">
            <div class="row">
        <div class="col-12">
            <a class="histori-btn">histori</a>
            <img class="ilus-b" src="assets/img/ilus-b.png">
            </div>
                </div>
        
        </div>
    </section>
    <section class="header-histori">
        <div class="container">
            <div class="row">
        <div class="col-12">
    <!-- start Quiz button -->
    <div class="start_btn"><button>Start Quiz</button></div>

    <!-- Info Box -->
    <div class="info_box">
        <div class="info-title"><span>Some Rules of this Quiz</span></div>
        <div class="info-list">
            <div class="info">1. You will have only <span>15 seconds</span> per each question.</div>
            <div class="info">2. Once you select your answer, it can't be undone.</div>
            <div class="info">3. You can't select any option once time goes off.</div>
            <div class="info">4. You can't exit from the Quiz while you're playing.</div>
            <div class="info">5. You'll get points on the basis of your correct answers.</div>
        </div>
        <div class="buttons">
            <button class="quit">Exit Quiz</button>
            <button class="restart">Continue</button>
        </div>
    </div>

    <!-- Quiz Box -->
    <div class="quiz_box">
        <header>
            <div class="title">Awesome Quiz Application</div>
            <div class="timer">
                <div class="time_left_txt">Time Left</div>
                <div class="timer_sec">15</div>
            </div>
            <div class="time_line"></div>
        </header>
        <section>
            <div class="que_text">
                <!-- Here I've inserted question from JavaScript -->
            </div>
            <div class="option_list">
                <!-- Here I've inserted options from JavaScript -->
            </div>
        </section>

        <!-- footer of Quiz Box -->
        <footer>
            <div class="total_que">
                <!-- Here I've inserted Question Count Number from JavaScript -->
            </div>
            <button class="next_btn">Next Que</button>
        </footer>
    </div>

    <!-- Result Box -->
    <div class="result_box">
        <div class="icon">
            <i class="fas fa-crown"></i>
        </div>
        <div class="complete_text">You've completed the Quiz!</div>
        <div class="score_text">
            <!-- Here I've inserted Score Result from JavaScript -->
        </div>
        <div class="buttons">
            <button class="restart">Replay Quiz</button>
            <button class="quit">Quit Quiz</button>
        </div>
    </div>

    <!-- Inside this JavaScript file I've inserted Questions and Options only -->
    <script src="js/questions.js"></script>

    <!-- Inside this JavaScript file I've coded all Quiz Codes -->
    <script src="js/script.js"></script>
                </div>
            </div>
        </div>
    </section>
    <section class="header-histori">
        <div class="container">
            <div class="row">
       <div class="col-12">
                            <center>
                                <section id="wrapper" class="box-atas">
                                    <div class="box">
                                        <div class="row">
                                            <div class="col-12">
                                                <textarea type="text" class="input" placeholder="BAGAIMANA PENGALAMAN KUNJUNGANMU?" v-model="newItem"
                                                    @keyup.enter="addItem()" required></textarea>
                                                
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-12">
                                                <div class="comment">
                                                    <p v-for="items in item" v-text="items"></p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </section>
                        </div>
           
            </div>
        </div>
    </section>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/vue/2.6.14/vue.min.js'></script>
    <script>
        (function ($) {
            $(function () {
                $('.toggle-overlay').click(function () {
                    $('aside').toggleClass('open');
                });
            });
        })(jQuery);


         $(document).ready(function () {

                $(".btn-box").on('click', function () {
                    $(".comment").addClass("afterText");
                });
                $("textarea").on('keyup.enter', function () {
                    $(".comment").addClass("afterText");
                });
            });

            new Vue({
                el: "#wrapper",
                data: {
                    newItem: '',
                    item: [],
                },
                methods: {
                    addItem() {
                        this.item.push(this.newItem);
                        this.newItem = "";
                    }
                }

            });
    </script>
</body>
</html>