html, body{
    margin: 0;
    font-family: MN-B;
    height: 100%;
    background-color: #5C7142;
}
.header-histori{
    background: #5C7142;
    width: 100%;
    height: 100%;
    background-position: center;
    background-image: url(../img/background-1.png);
    background-repeat: no-repeat;
    background-size: cover;
}
.header-histori .container{
    height: 100%;
    padding-top: 450px;
    justify-content: center;
    text-align: center;
}
.header-games{
    background: #c1d0b0;
    width: 100%;
    height: 100%;
    background-position: center;
    background-image: url(../img/bg5.png);
    background-repeat: no-repeat;
    background-size: cover;
}
.header-games .container{
    height: 100%;
    padding-top: 450px;
    justify-content: center;
    text-align: center;
}
.histori-btn {
    font-family: 'notulen';
    background-color: #ffffff;
    color: #383838;
    border-radius: 29px;
    border: 4px solid #000;
    padding:20px 120px 20px 120px;
    font-size: 57px;
    box-shadow: 5px 10px;
}
.ilus-b {
    position: absolute;
    width: 100px;
    top: -110px;
    bottom: 0px;
    right: 370px;
}
.box-atas {
    background-color: rgba(0, 255, 255, 0);
}
 .box {
    	max-width: 100%;
    	margin-top: -340px;
    	border-radius: 8px;
    	padding: 40px 0px 0px 80px;
    }
    .comment {
    	display: block;
    	transition: all 1s;
		margin-top: 50px;
		overflow-y: scroll;
		height: 200px;
    }
	.comment p {
    	font-size: 22px;
		font-family: 'satoshi-r';
		background-color: #fff;
		text-align: center;
		border-radius: 92px;
		padding: 12px;
    }
    .afterText {
    	min-height: 0px;
    	
    	border-radius: 5px;
    	padding: 5px 10px;
    }
	
        .box textarea {
    	width: 100%;
		resize: none;
    	border: none;
    	background: #ffffff;
    	padding: 20px;
    	height: 200px;
    	border-radius: 25px;
		font-size: 24px;
    	transition: all 0.5s;
    	margin-top: 15px;
    	color: #DBC5B2;
    	font-family: "satoshi-r";
    }
        button.btn-box {
    	background: #262626;
    	color: #fff;
    	padding: 20px 25px;
    	border: none;
    	cursor: pointer;
    	text-transform: uppercase;
    	letter-spacing: 4px;
    	transition: 1s all;
    	font-size: 10px;
    	border-radius: 5px;
    	margin-top: 30px;
    }
            button.btn-box:hover {
    	background: darkorange;
    }
.tesh {
	color: #3A4329;
	font-size: 24px;
	text-decoration: underline;
	font-family: 'proxima-light';
}
::-webkit-scrollbar {
  width: 3px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px rgb(0, 0, 0); 
  border-radius: 10px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #ffffff; 
  border-radius: 40px;
}
.marquee {
    margin: 0 auto;
    white-space: nowrap;
    font-family: 'satoshi-r'; 
    overflow: hidden;
    font-size: 24px;
}
.footer-fixed {
    position: fixed;
    background: #f94e4e;
    color: #000;
    bottom: 0;
    z-index: 999;
    padding: 0;
}

