html, body{
    margin: 0;
    font-family: MN-B;
    height: 100%;
    background-color: #191919;
}

.header-histori{
    background: #fef5dd;
    width: 100%;
    height: 100%;
    background-position: center;
    background-image: url(../img/background-1.png);
    background-repeat: no-repeat;
    background-size: cover;
}
.header-histori .container{
    height: 100%;
    padding-top: 450px;
    justify-content: center;
    text-align: center;
}

.histori-btn {
    font-family: 'notulen';
    background-color: #ffce60;
    color: #383838;
    border-radius: 29px;
    border: 4px solid #000;
    padding:20px 120px 20px 120px;
    font-size: 57px;
    box-shadow: 5px 10px;
}
.event-btn {
    font-family: 'notulen';
    background-color: #ffce60;
    color: #383838;
    border: solid 3px;
    box-shadow: 5px 10px;
    border-radius: 30px;
    padding:20px 120px 20px 120px;
    font-size: 57px;
}
.line-h {
    left: 0%;
    width: 800px;
    background-color: #219db4;
    text-align: end;
    padding: 5px 35px 5px 5px;
    border-radius: 0px 90px 90px 0px;
    font-family: 'notulen';
}
.hikayat-img {
    width: 60%;
}
.content-culture{
    padding-top: 80px;
    padding-bottom: 80px;
    background-color: #fef5dd;
}
.text-nya {
    font-family: 'satoshi-r';
    font-size: 16px;
    font-weight: 500;
    padding-left: 50px;
}
.text-nya-1 {
    font-family: 'satoshi-r';
    font-size: 18px;
    font-weight: 500;
    padding-left: 50px;
}
.text-cianjur {
     font-family: 'notulen';
    font-size: 68px;
    text-align: center;
    
}
.text-bawah {
    padding: 12px;
    color: #000000;
    font-family: satoshi-r;
    font-size: 18px;
    border-radius: 120px;
    text-align: center;
    background-color: #ffffff;
    border: 3px solid #000;
    box-shadow: 5px 10px;
}

.content-pilar {
    background-color: #fef5dd;
}
.buledan-pilar  {
    background-color: #ffffff;
    padding: 32px;
    border: 3px solid #000;
    margin-top: 40px;
    border-radius: 0px 90px 90px 0px;
}
.gelud {
    width: 100%;
  animation-name: spin;
  animation-duration: 15000ms;
  animation-iteration-count: infinite;
  animation-timing-function: linear; 
  /* transform: rotate(3deg); */
   /* transform: rotate(0.3rad);/ */
   /* transform: rotate(3grad); */ 
   /* transform: rotate(.03turn);  */
}
.muter {
    width: 100%;
  animation-name: spin;
  animation-duration: 15000ms;
  animation-iteration-count: infinite;
  animation-timing-function: linear; 
  /* transform: rotate(3deg); */
   /* transform: rotate(0.3rad);/ */
   /* transform: rotate(3grad); */ 
   /* transform: rotate(.03turn);  */
}

.tidak-gelud {
 position: absolute;
  left: 0px;
    right: 0px;
    top: 50px; 
        
    }
.tidak-muter {
 position: absolute;
  left: 400px;
    right: 0px;
    top: 320px;
  /* transform: rotate(3deg); */
   /* transform: rotate(0.3rad);/ */
   /* transform: rotate(3grad); */ 
   /* transform: rotate(.03turn);  */
}
@keyframes spin {
    from {
        transform:rotate(0deg);
    }
    to {
        transform:rotate(360deg);
    }
}


.buledan-pilar h2 {
    text-align: center;
    font-size: 25px;
    font-family: 'satoshi-bi';
}
.buledan-pilar h3 {
    font-size: 17px;
    font-family: 'satoshi-r';
}
.buledan-pilar h4 {
    font-size: 17px;
    font-family: 'satoshi-r';
}
.definisi-title {
    font-family: 'notulen';
    font-size: 48px;
}


.content-perkembangan {
    background-color: #8dc63f;
    padding-top: 70px;
    padding-bottom: 100px;
}
.content-senjata {
    background-color: #ebebeb;
    padding-top: 70px;
    padding-bottom: 100px;
}
.perkembangan-title {
    font-family: 'notulen';
    font-size: 68px;
    padding-bottom: 30px;
}
.header-berita{
    background: #CFE0CB;
    width: 100%;
    height: 100%;
    background-position: center;
    background-image: url(../img/background-1.png);
    background-repeat: no-repeat;
    background-size: cover;
}
.header-berita .container{
    height: 100%;
    padding-top: 400px;
    justify-content: center;
    text-align: center;
}

.header-event{
    background: #F1E210;
    width: 100%;
    height: 100%;
    background-position: center;
    background-image: url(../img/background-1.png);
    background-repeat: no-repeat;
    background-size: cover;
}
.header-event .container{
    height: 100%;
    padding-top: 400px;
    justify-content: center;
    text-align: center;
}


.content-berita {
    background-color: #CFE0CB;
    padding: 100px 12px 100px 0px;
}
.content-event {
    background-color: #F1E210;
    padding: 100px 12px 100px 0px;
}
.content-event1 {
    background-color: #8AABFF;
    padding: 100px 12px 100px 0px;
}
.content-event2 {
    background-color: #4E9B8C;
    padding: 100px 12px 100px 0px;
}
.content-event3 {
    background-color: #5C7142;
    padding: 100px 12px 100px 0px;
}
.content-event4 {
    background-color: #236CAF;
    padding: 100px 12px 100px 0px;
}
.card-maenpo {
    border-radius: 79px;
    
}
.card-maenpo .video{
    border-radius: 79px 79px 0px 0px;
    
}
.card-maenpo img {
    border-radius: 60px 60px 0px 0px;  
}
.card-maenpo .card-body {
    padding: 52px; 
}
.card-maenpo .card-text {
   font-family: 'satoshi-r';
    font-size: 24px;
    text-align: center;   
}
.btn-primary {
    font-family: 'satoshi-r';
    font-size: 24px;
    margin: 40px;
    padding: 12px 102px 12px 102px;
    background-color: rgb(255, 255, 255);
    border: 3px solid #000000;
    color: #000000;
    font-weight: bolder;
    border-radius: 99px;
}

.content-belajar {
    background-color: #236caf;
    padding: 100px 0px 100px 0px;
}

.scroll-3{
    color: #fff;
    text-decoration: none;
    font-size: 50px;
    animation: turun 1s infinite;
}
.scroll-3:hover{
    text-decoration: none;
    color: #fff;
}
.content-shop {
    background-color: #8aabff;
    padding: 100px 0px 100px 0px;
}
.carousel-inner img {
    width: 100%;
}

.content-karakter {
    background-color: #f2f2f2;
    color: #151515;
}
.content-karakter-2 {
    background-color: #8aabff;
    color: #151515;
}
.karakters {
    background-color: #ffffff;
    border: 3px solid #383838;
    color: #000000;
    font-family: 'notulen';
    font-size: 58px;
    margin-top: 100px;
   box-shadow: 5px 10px;
}
.k-1 {
    color: #383838;
    font-family: 'notulen';
    font-size: 48px;
   margin-bottom: 50px;
}
.k-2 {
    background-color: #383838;
    border: 1px #383838;
    color: aliceblue;
    font-family: 'satoshi';
    font-size: 28px;
   
}
.k-3 {
    color: #383838;
    font-family: 'satoshi';
    font-size: 18px;
    margin-top: 28px;
   
}
.k-4 {
    background-color: #383838;
    border: 1px #383838;
    color: aliceblue;
    font-family: 'satoshi';
    font-size: 28px;
   
}

.k-6 {
    background-color: #f1e210;
    color: #036b00;
    font-family: 'satoshi';
    font-size: 28px;
   
}

.h1-news {
   font-family: 'satoshi-r';
    padding-bottom: 50px;
    font-size: 35px;
    color: aliceblue;
    font-weight: 800;
}
.h1-berita {
  font-family: 'satoshi-r'; 
  padding-top: 80px;
    font-size: 34px;
    font-weight: 600;
    color: aliceblue;
}
.text-berita {
  font-family: 'satoshi-r'; 
  padding-top: 90px;
    font-size: 17px;
    font-weight: 500;
    color: aliceblue;
}
.content-faktaunik {
    background-color: #efefef;
    color: #151515;
}


#custCarousel .carousel-indicators {
    position: static;
    margin-top: 20px;
}

#custCarousel .carousel-indicators>li {
    width: 300px
}

#custCarousel .carousel-indicators li img {
    display: block;
    padding: 12px;
    opacity: 0.5
}

#custCarousel .carousel-indicators li.active img {
    opacity: 1
}

#custCarousel .carousel-indicators li:hover img {
    opacity: 0.75
}

.carousel-item img {
    width: 30%
}
.content-sticker {
    background-color: #8aabff;
    padding: 100px 0px 100px 0px;
}
@keyframes kanan {
  from {transform: rotate(0deg);}
  to {transform: rotate(360deg);}
}

@media (max-width: 1366px){
    .header h1{
        top: 20%;
    }
    .tidak-muter {
    left: 300px;
        width: 200px;
    right: 0px;
    top: 240px;
    }
}
@media only screen and (min-width: 768px) {
  /* For desktop: */
 
  
}